---
import SocialIcon from './SocialIcon.astro';
---

<footer class="bg-gray-900 text-white mt-16">
  <div class="container mx-auto px-4 py-8">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      <div>
        <h3 class="font-bold text-lg mb-4">Male Transformation</h3>
        <p class="text-gray-400">Empowering men over 40 to achieve their fitness and wellness goals.</p>
      </div>
      <div>
        <h3 class="font-bold text-lg mb-4">Quick Links</h3>
        <ul class="space-y-2">
          <li><a href="/" class="text-gray-400 hover:text-white">Home</a></li>
          <li><a href="/blog" class="text-gray-400 hover:text-white">Blog</a></li>
        </ul>
      </div>
      <div>
        <h3 class="font-bold text-lg mb-4">Contact</h3>
        <p class="text-gray-400 mb-4">info@maletransformation.me</p>
        <div class="flex gap-4">
          <SocialIcon
            href="https://instagram.com/maletransformation"
            icon="fa-instagram"
            label="Follow us on Instagram"
          />
          <SocialIcon
            href="https://facebook.com/maletransformation"
            icon="fa-facebook"
            label="Follow us on Facebook"
          />
          <SocialIcon
            href="https://twitter.com/maletransform"
            icon="fa-twitter"
            label="Follow us on Twitter"
          />
          <SocialIcon
            href="https://youtube.com/maletransformation"
            icon="fa-youtube"
            label="Subscribe to our YouTube channel"
          />
        </div>
      </div>
    </div>
    <div class="border-t border-gray-800 mt-8 pt-8 text-center text-gray-400">
      <p>&copy; {new Date().getFullYear()} Male Transformation Over 40. All rights reserved.</p>
    </div>
  </div>
</footer>